<% content_for :restaurant_photo do %><%= @restaurant.all_photos[0].url %><% end %>


<section id="panels">

<% if @restaurant.json["tips"] %>
Tips (<%= @restaurant.json["tips"]["groups"][0]["items"].length %>)
<% @restaurant.json["tips"]["groups"][0]["items"].each do |t| %>

<p>
  <%= t["text"] %>
  <%= t["user"]["firstName"] %>
  <img src="<%= t["user"]["photo"] %>" />
</p>

<% end %>

<% end %>

</section>
<section id="details">
<%= @testleng %>
<%= @restaurant.name %>
<%= @restaurant.location.address %>
<%= @restaurant.location.cross_street %>
<%= @restaurant.location.city %>, <%= @restaurant.location.state %> <%= @restaurant.location.postal_code %>
Grade: <%= @grade %>

<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i - 1 %>">Previous</a>
<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i + 1 %>">Next</a>
</section>

<!-- <% @restaurant.all_photos[0..1].each do |p| %>
  <img src="<%= p.url %>" />
  <%= p.sizes %>
<% end %> -->




<script>

function initiate_geolocation() {
  navigator.geolocation.getCurrentPosition(handle_geolocation_query);
}

function handle_geolocation_query(position){
  window.location = "?location=" + position.coords.latitude + "," + position.coords.longitude;
}

</script>

<a href="#" onClick="initiate_geolocation();">current location</a>