<% content_for :restaurant_photo do %><%= @restaurant.all_photos[0].url if @restaurant.all_photos.length > 0 %><% end %>

<section id="panels">
	<div id="tips">
		<% if @restaurant.json["tips"] %>
			<% @restaurant.json["tips"]["groups"][0]["items"].each do |t| %>
			
				<p>
					<%= t["text"] %>
					<%= t["user"]["firstName"] %>
					<img src="<%= t["user"]["photo"] %>" />
				</p>

			<% end %>
		<% end %>
	</div>
</section>

<section id="details">
	<h1><%= @restaurant.name %></h1>
	<p>
		<%= @restaurant.location.address %><br />
		<%= @restaurant.location.cross_street %><br />
		<%= @restaurant.location.city %>, <%= @restaurant.location.state %> <%= @restaurant.location.postal_code %>
	</p>
	<ul>
		<li>
			<span class="statistic"><%= @grade %></span>
			<span class="category">NYC Rating</span>
		</li>
		<li style="display:none;">
			<span class="statistic">
				<ul>
					<% @violations.each do |i| %>
						<li><%= i %></li>
					<% end %>
				</ul>
			</span>
			<span class="category">Violation</span>
		</li>
		<li>
			<span class="statistic"><%= @distance_away.round(2) %></span>
			<span class="category">Miles Away</span>
		</li>
		<li>
			<span class="statistic"><%= @maps %></span>
			<span class="category">Minute Walk</span>
		</li>
	</ul>
	<div id="more_details_tabs">
		<span class="topic selected" data-section="tips">
			<a href="#">Tips (<%= @restaurant.json["tips"]["groups"][0]["items"].length if @restaurant.json["tips"] %>)</a>
			<a href="#" class="close">Close</a>
		</span>
		<span class="topic" data-section="map">
			<a href="#">Map</a>
			<a href="#" class="close">Close</a>
		</span>
	</div>
	<div id="user_actions">
		<a href="?location=<%= params[:location] %>&favorite=1" class="favorite">Fav></a> <!-- ADD 'selected' class when it's been favourited -->
		<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i - 1 %>"><small>&#9664;</small> &nbsp; Previous</a>
		<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i + 1 %>">Next &nbsp; <small>&#9654;</small></a>
	</div>
</section>

<!-- <% @restaurant.all_photos[0..1].each do |p| %>
  <img src="<%= p.url %>" />
  <%= p.sizes %>
<% end %> -->

<script>

function initiate_geolocation() {
  navigator.geolocation.getCurrentPosition(handle_geolocation_query);
}

function handle_geolocation_query(position){
  window.location = "?location=" + position.coords.latitude + "," + position.coords.longitude;
}

</script>

<a href="#" onClick="initiate_geolocation();">current location</a>

