<% content_for :restaurant_photo do %><%= @photos[0].url if @photos.length > 0 %><% end %>

<section id="panels" style="display: none;">
	<div id="tips" style="display: none;">
		<% if @restaurant.json["tips"] %>
			<ul>
				<% @restaurant.json["tips"]["groups"][0]["items"].each do |t| %>
					<li>
						<img src="<%= t["user"]["photo"] %>" />
						<h2><%= t["user"]["firstName"] %></h2>
						<p><%= t["text"] %></p>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<div id="map" style="display: none;">
		<a href="http://maps.google.com/maps?saddr=<%= @origin %>&daddr=<%= @destination %>&dirflg=w"><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @origin %>&zoom=16&size=537x500&maptype=roadmap&markers=color:green%7Clabel:A%7C<%= @origin %>&markers=color:blue%7Clabel:B%7C<%= @destination %>&sensor=false" /></a>
	</div>
</section>

<section id="details">
	<h1><%= @restaurant.name %></h1>
	<h3><%= @restaurant.categories.collect { |c| c.name }.join(', ') %></h3>
	<p>
		<%= @restaurant.location.address %><br />
		<%= @restaurant.location.cross_street %><br />
		<%= @restaurant.location.city %>, <%= @restaurant.location.state %> <%= @restaurant.location.postal_code %><br />
		<%= @restaurant.contact['formattedPhone'] %>
	</p>
	<ul>
		<li>
			<span class="statistic"><%= @grade %></span>
			<span class="category">NYC Rating</span>
			<div class="tooltip">
				<img src="<%= asset_path('arrow-tooltip.png') %>" />
				<div class="violations">
					<h4>Violations</h4>
					<% @violations.each do |i| %>
						<p>
							<% if i != 'N/A' %>
								<%= i.gsub('.', '').capitalize + '.' %>
							<% else %>
								<%= i %>
							<% end %>
						</p>
					<% end %>
				</div>
			</div>
		</li>
		<li>
			<span class="statistic"><%= @distance_away.round(2) %></span>
			<span class="category">Miles Away</span>
		</li>
		<li>
			<span class="statistic"><%= @minute_walk.round(0) %></span>
			<span class="category">Minute Walk</span>
		</li>
	</ul>
	<div id="more_details_tabs">
		<span class="topic" data-section="tips">
			<a href="#">Tips (<%= @restaurant.json["tips"]["groups"][0]["items"].length if @restaurant.json["tips"] %>)</a>
			<a href="#" class="close">Close</a>
		</span>
		<span class="topic" data-section="map">
			<a href="#">Map</a>
			<a href="#" class="close">Close</a>
		</span>
	</div>
	<div id="user_actions">
		<a href="?location=<%= params[:location] %>&favorite=1" class="favorite">Fav></a> <!-- ADD 'selected' class when it's been favourited -->
		<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i - 1 %>"><small>&#9664;</small> &nbsp; Previous</a>
		<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i + 1 %>">Next &nbsp; <small>&#9654;</small></a>
	</div>
</section>

<% if @photos.length > 0 %>
	<section id="rating" data-position="0">
		<span>How’s this photo?</span>
		<a href="?location=<%= params[:location] %>" class="like">Like</a>
		<a href="?location=<%= params[:location] %>" class="dislike">Dislike</a>
	</section>
<% end %>

<script>
$( document ).ready( function() {
	
	var venue_photos = [ <%= @photos.collect {|p| '\'' + p.url + '\'' }.join(", ") %> ];
	
	var like_or_dislike = function( e ) {
		e.preventDefault();
		
		var url = '/photos/<%= @restaurant.id %>';
		var current_image = venue_photos[ parseInt( $( '#rating' ).data( 'position' ) ) ];
		
		$.post( url, { preference: this.className, image: current_image,  _method: "PUT" }, function() {
			
			var next_image_pos = $( '#rating' ).data( 'position' ) < venue_photos.length - 1 ? $( '#rating' ).data( 'position' ) + 1 : 0;
			
			$( '#rating' ).data( 'position', next_image_pos );
			
			$( '<div id="temp_bg" />' )
				.css( {
					'background': 'transparent url(' + current_image + ') left 45px no-repeat',
					'width': '100%',
					'height': $( '#wrapper' ).height(),
					'position': 'absolute',
					'top': '0',
					'left': '0',
					'z-index': '0',
					'background-size': 'cover',
					'-webkit-background-size': 'cover',
					'-moz-background-size': 'cover'
				} ).prependTo( 'body' );
				
			$( 'body' ).css( 'background-image', 'url(' + venue_photos[ parseInt( next_image_pos ) ] + ')' );
			
			setTimeout( function() {
				$( '#temp_bg' ).fadeOut( 250, function() {
					$( this ).remove();
				} );
			}, 400 );
			
		}, 'script' );
	}
	
	$( '.like, .dislike' ).bind( 'click', like_or_dislike );
	
} );

</script>
