<% content_for :restaurant_photo do %><%= @photos[0].url if @photos.length > 0 %><% end %>

<section id="panels" style="display: none;">
	<div id="tips" style="display: none;">
		<% if @restaurant.json["tips"] %>
			<ul>
				<% @restaurant.json["tips"]["groups"][0]["items"].each do |t| %>
					<li>
						<img src="<%= t["user"]["photo"] %>" />
						<h2><%= t["user"]["firstName"] %></h2>
						<p><%= t["text"] %></p>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<div id="map" style="display: none;">
	</div>
</section>

<section id="details">
	<h1><%= @restaurant.name %></h1>
	<p>
		<%= @restaurant.location.address %><br />
		<%= @restaurant.location.cross_street %><br />
		<%= @restaurant.location.city %>, <%= @restaurant.location.state %> <%= @restaurant.location.postal_code %>
	</p>
	<ul>
		<li>
			<span class="statistic"><%= @grade %></span>
			<span class="category">NYC Rating</span>
		</li>
		<li style="display:none;">
			<span class="statistic">
				<ul>
					<% @violations.each do |i| %>
						<li><%= i %></li>
					<% end %>
				</ul>
			</span>
			<span class="category">Violation</span>
		</li>
		<li>
			<span class="statistic"><%= @distance_away.round(2) %></span>
			<span class="category">Miles Away</span>
		</li>
		<li>
			<span class="statistic"><%= @maps %></span>
			<span class="category">Minute Walk</span>
		</li>
	</ul>
	<div id="more_details_tabs">
		<span class="topic" data-section="tips">
			<a href="#">Tips (<%= @restaurant.json["tips"]["groups"][0]["items"].length if @restaurant.json["tips"] %>)</a>
			<a href="#" class="close">Close</a>
		</span>
		<span class="topic" data-section="map">
			<a href="#">Map</a>
			<a href="#" class="close">Close</a>
		</span>
	</div>
	<div id="user_actions">
		<a href="?location=<%= params[:location] %>&favorite=1" class="favorite">Fav></a> <!-- ADD 'selected' class when it's been favourited -->
		<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i - 1 %>"><small>&#9664;</small> &nbsp; Previous</a>
		<a href="?location=<%= params[:location] %>&page=<%= params[:page].to_i + 1 %>">Next &nbsp; <small>&#9654;</small></a>
	</div>
</section>

<section id="rating">
	<span>How’s this photo?</span>
	<a href="?location=<%= params[:location] %>" class="like">Like</a>
	<a href="?location=<%= params[:location] %>" class="dislike">Dislike</a>
</section>

<% @restaurant.all_photos[0..1].each do |p| %>
	<img src="<%= p.url %>" />

<% end %>



<script>
$( document ).ready( function() {
	
	function like_or_dislike( pref ) {
		var url = '';
		$.post( url, { preference: pref }, function() {
			
			console.log( pref );
			
		}, 'script' );
	}
	
	$( '.like' ).bind( 'click', function( e ) {
		e.preventDefault();
		like_or_dislike( 'like' );
	} );
	
	$( '.dislike' ).bind( 'click', function( e ) {
		e.preventDefault();
		like_or_dislike( 'dislike' );
	} );
	
} );

</script>